<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- favicon -->
        <link
            rel="shortcut icon"
            href="../static/asher-static/images/banner-rtan.png"
        />

        <!-- bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            href="../static/asher-static/styles/asher-landing.css"
        />

        <script defer src="../static/asher-static/js/asher-landing.js"></script>
        <script>
            $(document).ready(function () {
                get_intro();
            });

            function get_intro() {
                $.ajax({
                    type: "GET",
                    url: "/api/asher/intro",
                    data: {},
                    success: function (response) {
                        let rows = response["intros"];

                        let name = rows[0]["name"];
                        let email = rows[0]["email"];
                        let github = rows[0]["github"];
                        let blog = rows[0]["blog"];
                        let mbti = rows[0]["mbti"];
                        let mbtisub = rows[0]["mbtisub"];
                        let mbtidesc = rows[0]["mbtidesc"];
                        let pros = rows[0]["pros"];
                        let style = rows[0]["style"];

                        let name_html = `<p class="name">${name}</p>`;
                        $(".member-name").append(name_html);

                        let email_html = `<p class="email">📧 ${email}</p>`;
                        $(".member-contact").append(email_html);
                        let github_html = `<p class="github">🛠 ${github}</p>`;
                        $(".member-contact").append(github_html);
                        let blog_html = `<p class="blog">📖 ${blog}</p>`;
                        $(".member-contact").append(blog_html);

                        let mbti_html = `<div class="mbti-mymbti">${mbti}</div>`;
                        $(".mbti-subtitle").append(mbti_html);
                        let mbtisub_html = `<div class="mbti-mymbti-sub">${mbtisub}</div>`;
                        $(".mbti-subtitle").append(mbtisub_html);
                        let mbtidesc_html = `${mbtidesc}`;
                        $(".mbti-desc").append(mbtidesc_html);

                        let pros_html = `${pros}`;
                        $(".pros-list").append(pros_html);

                        let style_html = `${style}`;
                        $(".my-working-style-desc p").append(style_html);
                    },
                });
            }
        </script>

        <title>Asher이지롱</title>
    </head>
    <body>
        <div class="member-card-wrap">
            <div class="member-card">
                <div class="card-top"></div>
                <div class="card-mark">
                    <img
                        src="../static/asher-static/images/sparta-logo.png"
                        alt="card-mark"
                    />
                </div>
                <div class="profile-image">
                    <img
                        src="../static/asher-static/images/profile-image.jpg"
                        alt="profile-image"
                    />
                </div>
                <div class="member-name">
                    <p class="track">Node.js</p>
                </div>
                <div class="member-contact"></div>
                <div class="card-bottom">
                    <span>소개보기</span>
                    <button class="arrow-button">
                        <img
                            src="../static/asher-static/images/next-icon.png"
                            alt=""
                        />
                    </button>
                </div>
            </div>
            <div class="member-card-back">
                <div class="content-wrap">
                    <div class="card-top"></div>
                    <div class="mbti">
                        <div class="mbti-title">⭐MBTI</div>
                        <div class="mbti-subtitle"></div>
                        <div class="mbti-desc"></div>
                    </div>
                    <div class="pros">
                        <div class="pros-title">
                            ⭐객관적으로 살펴본 자신의 장점
                        </div>
                        <div class="pros-list"></div>
                    </div>
                    <div class="my-working-style">
                        <div class="my-working-style-title">
                            ⭐협업을 하는 과정에서의 자신의 스타일
                        </div>
                        <div class="my-working-style-desc">
                            <p></p>
                        </div>
                    </div>
                    <div class="card-bottom"></div>
                </div>
            </div>
            <div class="comment-list">
                <div class="clsbtn-wrap">
                    <button class="cls-button" onclick="history.back()">
                        <img
                            src="..\static/asher-static/images/hmclsbtn.png"
                            alt=""
                        />
                    </button>
                </div>
                <div class="comment-title">
                    <p class="title">방명록</p>
                </div>
                <div class="comment-input">
                    <input
                        class="comment-name-input"
                        id="comment-name"
                        placeholder="이름"
                    />
                    <textarea
                        class="comment-text-input"
                        name="comment"
                        id="comment"
                        cols="30"
                        rows="5"
                        placeholder="내용"
                    ></textarea>
                    <div class="comment-btn-wrap">
                        <button class="comment-btn" onclick="save_comment()">
                            등록
                        </button>
                    </div>
                </div>
                <div
                    id="comment-list-data-wrap"
                    class="comment-list-data-wrap"
                ></div>
            </div>
        </div>
    </body>
</html>
