<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">

        <link
            rel="stylesheet"
            href="../static/bin-static/styles/main.css"
        />

        <script defer src="../static/bin-static/styles/script.js"></script>

        <title>Document</title>
    </head>
    <body>
        <div class="member-card-wrap">
            <div class="member-card">
                <div class="card-top">
                    <div class="clsbtn-wrap">
                        <span>돌아가기</span>
                        <button 
                            class="cls-button" 
                            onclick="location.href='/'"
                        >
                        
                            <img 
                            src="..\static\bin-static\images\binclsbtn.png" 
                            alt=""
                        >
                        </button>
                    </div>
                </div>
                <div class="card-mark">
                    <img
                        src="../static/bin-static/images/sparta-logo.png"
                        alt="card-mark"
                    />
                </div>
                <div class="profile-image">
                    <img
                        src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F929bdce5-041f-4b4f-a844-bbdd1d56f06d%2Fmember.jpg?table=block&id=dbc9d631-8792-4b94-bcaf-38a3552fef26&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=500&userId=&cache=v2"
                        alt="profile-image"
                    />
                </div>
                <div class="member-name">
                    <div class="node-image">
                    <img
                        width="70"
                        src="https://ncc-phinf.pstatic.net/20160427_149/1461718626924VeiJf_JPEG/01.jpg?type=w646"
                        alt="node-image"
                    />
                    <p class="name">장빈</p>
                    </div>
                </div>
                <div class="member-contact">
                    <p class="email">💌 gotigeradm@gmail.com</p>
                    <p class="github">👨🏻‍💻 github.com/go-tiger</p>
                    <p class="blog">📝 gorangcodingstory.tistory.com</p>
                </div>
                <div class="card-bottom">
                    <span id="profile_onoff">소개보기</span>
                    
                    <button class="arrow-button">
                        <img
                            src="../static/bin-static/images/next-icon.png"
                            alt=""
                        />
                    </button>
                </div>
            </div>
            <div class="member-card-back">
                <div class="content-wrap">
                    <div class="card-top">
                        <div class="clsbtn-wrap">
                            <span>돌아가기</span>
                            <button 
                                class="cls-button" 
                                onclick="location.href='/'"
                            >
                            
                                <img 
                                src="..\static\bin-static\images\binclsbtn.png" 
                                alt=""
                            >
                            </button>
                        </div>
                    </div>
                    <div class="mbti">
                        <div class="mbti-title">👉MBTI👈</div>
                        <div class="mbti-subtitle">
                            <div class="mbti-mymbti">INFJ😉 였던 ISTJ👍🏻</div>
                            <div class="mbti-mymbti-sub">
                                청렴결백한 논리주의자
                            </div>
                        </div>
                        <div class="mbti-desc">
                            <p>
                                의무감이 강하기 때문에 맡은 일은 본인이 만족할 때까지 놓지 않습니다.<br />
                                어떤 체계에 도전하는 성격이 아닌 그 프로세스를 따지는 성향이라 할 수 있습니다.<br />
                                성취욕이 강하기 때문에 본인이 선택한 직업에서 탁월한 기량을 발휘합니다.<br />
                                또한 솔직담백한 성격으로 재미는 없을지라도 신뢰가 가는 성향이라 할 수 있습니다.<br />
                                정면돌파 없이 문제를 회피하는 성향과 반대되게 문제가 생기면
                                정면돌파로 해결하려는 모습이 강합니다.<br />
                                현실주의적인 성격으로 인해서 추상적인 이론보다 구체적 팩트에
                                근거한 디테일한 예시를 들어 설명하는 것이 좋습니다.<br />
                                또한 굉장히 논리적인데, 확실한 레퍼런스를 반드시 필요로 합니다.
                                본인이 하는 작업이 있으면 확실하게 몰두해서 끝내기 때문에 빠르면서 효율적으로 작업 처리가 가능합니다.
                                <br />
                            </p>
                        </div>
                    </div>
                    <div class="pros">
                        <div class="pros-title">
                            👍객관적으로 살펴본 자신의 장점
                        </div>
                        <div class="pros-list">
                            <li>책임감이 강하고 쉽게 포기하지 않습니다.</li>
                            <li>만약의 상황을 대비해서 차선책을 계획해두는 편입니다.</li>
                            <li>한 번 하면 끝까지 열심히 하려는 추진력과 끈기가 있습니다.</li>
                        </div>
                    </div>
                    <div class="my-working-style">
                        <div class="my-working-style-title">
                            🤝협업을 하는 과정에서의 자신의 스타일
                        </div>
                        <div class="my-working-style-desc">
                            <p>주축보다 뒤에서 받쳐주는 서포트 스타일을 가지고 있어 다른 사람들의 의견을 존중하고 귀기울이는 데에 걸출합니다.</p>
                            <p>또한 어떤 문제가 발생했을 시 개선의 방안을 제시하고 이를 팀원들과 공유하여 적극적으로 해결하려고 합니다. </p>
                        </div>
                    </div>
                    <div class="card-bottom"></div>
                </div>
            </div>
            <div class="comment-list">
                <div class="comment-title">
                    <p class="title">방명록</p>
                </div>
                <div class="comment-input">
                    <input
                        class="comment-name-input"
                        id="comment-name"
                        placeholder="이름"
                    />
                    <textarea
                        class="comment-text-input"
                        name="comment"
                        id="comment"
                        cols="30"
                        rows="5"
                        placeholder="내용"
                    ></textarea>
                    <div class="comment-btn-wrap">
                        <button class="comment-btn" onclick="save_comment()">
                            등록
                        </button>
                    </div>
                </div>
                <div
                    id="comment-list-data-wrap"
                    class="comment-list-data-wrap"
                ></div>
            </div>
        </div>
    </body>
</html>
