<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poor+Story&display=swap"
          rel="stylesheet">
    <!-- bootstrap -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>

    <link
            rel="stylesheet"
            href="../static/JungMin-static/styles/asher-landing.css"
    />

    <script>
        let isOpen = false;
        $(document).ready(function () {
            $(".arrow-button").on("click", function () {
                if (isOpen == false) {
                    $(".member-card-back").fadeIn(500);
                    isOpen = true;
                } else {
                    $(".member-card-back").fadeOut(500);
                    isOpen = false;
                }

                let offset = $(".member-card-back").offset();
                $("html, body").animate({scrollTop: offset.top}, 1000);
            });
        });
    </script>

    <title>Document</title>
</head>
<body>
<div class="member-card-wrap">
    <div class="member-card">
        <div class="card-top"></div>
        <div class="card-mark">
            <img
                    src="../static/JungMin-static/images/sparta-logo.png"
                    alt="card-mark"
            />
        </div>
        <div class="profile-image">
            <img
                    src="../static/JungMin-static/images/Jungmin-image.jpg"
                    alt="profile-image"
            />
        </div>
        <div class="member-name">
            <p class="track">Node.js</p>
            <p class="name">변정민</p>
        </div>
        <div class="member-contact">
            <p class="email">📫 cvy5375@gmail.com</p>
            <p class="github">🛠 github.com/ByunJungMin</p>
            <p class="blog">📔 cvy5375.tistory.com</p>
        </div>
        <div class="card-bottom">
            <span>소개보기</span>
            <button class="arrow-button">
                <img
                        src="../static/JungMin-static/images/➡️우향 화살표(60 x 60).png"
                        alt=""
                />
            </button>
        </div>
    </div>
    <div class="member-card-back">
        <div class="card-top"></div>
        <div class="mbti">
            <div class="mbti-title">MBTI</div>
            <div class="mbti-subtitle">
                <div class="mbti-mymbti">ISTP</div>
                <div class="mbti-mymbti-sub">만능 재주꾼</div>
            </div>
            <div class="mbti-desc">
                <p>
                    창조와 문제 해결을 위한 이해, 그리고 실행 착오와
                    실질적인 경험을 통해 아이디어를 탐색합니다.
                    다른 이들이 그들의 과제에 흥미를 보이는 것을 좋아합니다.<br/><br/>
                    타인을 잘 도우며 그들의 경험을 다른 이들과 공유하는 것을 좋아하기도
                    하는 ISTP는 특히나 그들이 아끼는 사람일수록 더욱 그러합니다. 이들이
                    인구의 고작 5%만이 차지합니다.
                    <br/><br/>
                    상황파악 능력과 손재주가 좋은데 사람과 관계 맺는 것을 어려워합니다.
                    새로운 사람 보다 오래된 인연을 아끼는 타입으로 내 사람에게 정말 잘하는 편으로 알려져 있습니다.

                </p>
            </div>
        </div>
        <div class="pros">
            <div class="pros-title">객관적으로 살펴본 자신의 장점</div>
            <div class="pros-list">
                <li>맡은일은 끝날때까지 하는 성실함이 있습니다.</li>
                <li>팀원들과 트러블 없이 조화로운 분위기를 유지할 수 있습니다.</li>
                <li>언제나 밝은 분위기를 유지합니다.</li>
            </div>
        </div>
        <div class="my-working-style">
            <div class="my-working-style-title">
                협업을 하는 과정에서의 자신의 스타일
            </div>
            <div class="my-working-style-desc">
                <p>프로젝트를 시작하기 전에 우선 어떤 디자인으로 갈지 의견을 종합하고 여러가지 좋은 아이디어들이 있을 때 종합하여
                    방향을 제시하며, 수정하면 좋은 부분에 대한 의견제시를 적극적으로 하는 편입니다.</p>
            </div>
            <div class="my-working-style-title">
                나만의 플레이 리스트
            </div>
            <div class="my-working-style-desc">
                <iframe width="170" height="100" src="https://www.youtube.com/embed/RgShTL71phE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
                <iframe width="170" height="100" src="https://www.youtube.com/embed/F69_yzzCKpA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </div>
        </div>
        <div class="card-bottom"></div>
    </div>
    <div class="comment-list">
        <div class="comment-title">
            <p class="title">방명록</p>
        </div>
        <div class="comment-input">
            <input
                    class="comment-name-input"
                    id="comment-name"
                    placeholder="이름"
            />
            <textarea
                    class="comment-text-input"
                    name="comment"
                    id="comment"
                    cols="30"
                    rows="5"
                    placeholder="내용"
            ></textarea>
            <div class="comment-btn-wrap">
                <button class="comment-btn">등록</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
